<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulumbe Covid</title>
    <link rel="stylesheet" href="style2.css">
  </head>
  <body> 
    <div class="container">
      <header>
        <h1 id="title">PASSENGER REGISTRATION
          <div id="form-wrapper">
            <form id="register-form" action="">
              <input class="form-control-2" id="fullname" type="text" name="fullName" placeholder="First Name"><br><small id="errorName"></small><br>
              <input class="form-control-2" id="date" type="date" name="today" placeholder="date"><br><small id="errorDate"></small><br>
            </form>
          </div>
        </h1>
      </header>
    </div>
    <div class="container2">
      <select id="dropdown" name="select gender">
        <option value="select your Gender">Select your Gender?</option>             
        <option value="Male">Male</option>
        <option value="Female">Female</option><br><small id="errorGender"></small><br>
      </select>
      <select id="dropdown2" name="vaccination">
        <option value="Vaccination status">Vaccination status</option>              &gt;
        <option value="vaccinated">Vaccinated</option>
        <option value="not vaccinated">Not vaccinated</option><br><small id="errorVac"></small><br>
      </select>
    </div>
    <div class="container3">
      <input class="form-control-2" id="nin" type="text" name="NIN" placeholder="NIN"><br>
      <input class="form-control-2 form-float" id="temp" type="text" name="temperature" placeholder="temp.(degrees)"><br><small id="errorTemp"></small><br>
      <input class="form-control-2 form-float" id="pickup" type="text" name="pickup" placeholder="Picked from"><br><small id="errorPick"></small><br>
      <input class="form-control-2" id="destination" type="text" name="destination" placeholder="Destination"><br><small id="errorDrop"></small>
      <p class="null-field"></p>
      <button id="submit" type="button" onclick="checkNameField(), checkDateField(), checkGenderField(),checkVacField(), checkTempField(), checkPickupField(), checkDropField();">
        <Register></Register>
      </button>
    </div><br>
    <hr>
    <footer> 
      <p>Copyright &copy; 2020</p>
    </footer>
  </body>
</html>