extends layout
block content
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
              .container-fluid
                  a.navbar-brand(href='#')
                      img.d-inline-block.align-text-top(src='icons8-automatic-car-wash-48.png' alt='' width='40' height='40')
                      h3.title Zawash
                  button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-live ='false' aria-label='Toggle navigation')
                      span.navbar-toggler-icon
                  #navbarSupportedContent.collapse.navbar-collapse
                      ul.navbar-nav.me-auto.mb-2.mb-lg-0
                          li.nav-item
                            a.nav-link(aria-current='page' href='/home') Home
                          li.nav-item
                            a.nav-link(aria-current='page' href='/payouts') Reports
                          li.nav-item
                            a.nav-link(aria-current='page' href='/customerReg') Customer Reg.
                          li.nav-item 
                            a.nav-link(aria-current='page' href='/register') Washer Reg.
                          li.nav-item 
                            a.nav-link(aria-current='page' href='/expenses') Expenses Reg.
                          li.nav-item 
                            a.nav-link.active(aria-current='page' href='/create') Create Admin.
                          
                      ul.navbar-nav
                          li.nav-item
                              a.nav-link(href='/logout' tabindex='-1' aria-current='true') Login
      br
      div.row.justify-content-center
            div.col-md-6
                div.card-body
                  header.card-header
                    h4.card-title Create New Admin
                    if alert == "success"
                        div.alert.alert-success Admin created successfully
                    if alert == "error"
                        div.alert.alert-danger An error occurred, failed to create Admin
                    form(method="POST" action='/register/create')
                        div.form-row
                            div.col.form-group
                                label First name 
                                input.form-control(name="firstname")
                            div.col.form-group
                                label Last name
                                input.form-control(name="lastname")
                            div.col.form-group
                                label UserName
                                input.form-control(name="username")
                        div.form-row
                            div.col.form-group
                                label Create Password
                                input.form-control(type="password" name="password")
                        div.form-row
                            div.col.form-group
                                button.btn.btn-primary.btn-block Create
                                        