extends layout




block content
      link( href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
      link(href='customer.css' rel='stylesheet')
      title Customer Register
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
          .container-fluid
              a.navbar-brand(href='/home')
                  img.d-inline-block.align-text-top(src='icons8-automatic-car-wash-48.png' alt='' width='40' height='40')
                  h3.title Zawash
              button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                  span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                  ul.navbar-nav.me-auto.mb-2.mb-lg-0
                      li.nav-item
                          a.nav-link(aria-current='page' href='/home') Home
                      li.nav-item
                          a.nav-link(aria-current='page' href='/payouts') Reports
                      li.nav-item
                          a.nav-link.active(aria-current='page' href='/customerReg') Customer Reg.
                      li.nav-item
                          a.nav-link(aria-current='page' href='/register') Washer Reg.
                      li.nav-item
                          a.nav-link(aria-current='page' href='/expenses') Expenses Reg. 
                      li.nav-item
                          a.nav-link(aria-current='page' href='/create') Create Admin.
                  ul.navbar-nav
                      li.nav-item
                          a.nav-link(href='/logout' tabindex='-1' aria-current='true') Logout
      br
      h1 Customer Register
      br
      | &grave;  
      .container
        #form-wrapper.myform
          br
          if alert == "success"
            div.alert.alert-success Vehicle added successfully
          if alert == "error"
            div.alert.alert-danger An error occurred, failed to add vehicle
          form(method="POST" action='/customerReg')
            .row
              .form-group.col-12
                label Datetime arrival
                input.form-control(type='date' name='doa' placeholder='dateOfarrival' id='doa')
              br
              .form-group.col-12
                label Plate Number
                input.form-control(type='text' name='pnumber' placeholder='Plate Number' id='pname')
              br
              br
              .form-group.col-12
                label Package
                select.form-select(type='text' name='package' placeholder= 'package' id='pkg')
                  option(value='select') 
                  |        &gt;
                  option(value= 'fullWash') Full Wash(20,000)
                  option(value='smallCar') Small Car(10,000)
                  option(value='mediumCar') Medium Car(15,000)
                  option(value='bodaWash') Boda Wash(5,000)
                  option(value='engineWash') Engine Wash(10,000)
              br
            .row
              .form-group.col-6
                label Cartype
                input.form-control(type='text' name='ctype' placeholder='Cartype' id='ctype')
              br
              .form-group.col-6
                label Washer Name
                select.form-control(type='text' name='wname' placeholder='Washer Name' id='wname' )
                  option(value='select')
                  each x  in washers
                    option(value= x._id) #{x.username}
              br
              .form-group
                button.btn.btn-primary.btn-block.register-account(type='submit' value='submit' onclick='validation()') Submit
     
    
      //script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
      
        
      //script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
      //script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous")
