extends layout
block content
    .body
        link( href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        title Homepage 
        title Zawash
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
            a.navbar-brand(href='#')
                img.d-inline-block.align-text-top(src='icons8-automatic-car-wash-48.png' alt='' width='40' height='40')
                h3.title Payouts
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.me-auto.mb-2.mb-lg-0
                    li.nav-item
                        a.nav-link(aria-current='page' href='/home') Home
                    li.nav-item 
                        a.nav-link(aria-current='page' href='/payouts') Reports
                    li.nav-item 
                        a.nav-link(aria-current='page' href='/customerReg') Customer Reg. 
                    li.nav-item 
                        a.nav-link(aria-current='page' href='/register') Washer Reg. 
                    li.nav-item 
                        a.nav-link.active(aria-current='page' href='/expenses') Expenses
                    li.nav-item 
                        a.nav-link(aria-current='page' href='/create') Create Admin.
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/login' tabindex='-1' aria-current='true') Login

    br
    br
    div.row.justify-content-center
        div.col-md-6
            div.card-body
                header.card-header
                h4.card-title Expenses
                if alert == "success"
                    div.alert.alert-success Expense added successfully
                if alert == "error"
                    div.alert.alert-danger An error occurred, failed to add expenses
                form(method="POST" action='/expenses')
                    div.form-row
                        div.col.form-group
                            label Date of Entry
                            input.form-control(type="date" name="doe")
                    div.form-row
                        div.col.form-group
                            label Item type
                            select.form-control(name="item")
                                option(value="polish")  Polish
                                option(value="detergent") Powdered detergents
                                option(value="electricity units") Electricity units
                        div.col.form-group
                            label Amount
                            input.form-control(type="number" name="amount")
                    div.form-row
                        div.col.form-group
                            button.btn.btn-primary.btn-block Add expense 
                            
