extends layout 

block content 
    .container
        header
            h1#title EMPLOYEE REGISTRATION
                #form-wrapper
                    form#register-form(action='')
                    input#fullname.form-control-2(type='text' name='fullName' placeholder='First Name')
                        
                    small#errorName
                        
                    input#date.form-control-2(type='date' name='today' placeholder='date of birth')
                        
                    small#errorDate
                        
                    .container2
                        select#dropdown(name='select gender')
                            option(value='select your Gender') Select your Gender?
                            option(value='Male') Male
                            option(value='Female') Female
                            
                            small#errorGender
                            
                        select#dropdown2(name='vaccination')
                            option(value='Vaccination status') Vaccination status
                            option(value='vaccinated') Vaccinated
                            option(value='not vaccinated') Not vaccinated
                            
                            small#errorVac
                            
                    .container3
                        input#nin.form-control-2(type='text' name='NIN' placeholder='NIN')
                        
                        input#temp.form-control-2.form-float(type='text' name='employeeId' placeholder='ID')
                        
                        small#errorTemp
                        
                    input#pickup.form-control-2.form-float(type='number' name='contact' placeholder='Contact')
                    
                    small#errorPick
                    
                    input#destination.form-control-2(type='text' name='next of kin' placeholder='Next of Kin')
                    
                    small#errorDrop
                    p.null-field
                    button#submit(type='button' onclick='checkNameField(), checkDateField(), checkGenderField(),checkVacField(), checkTempField(), checkPickupField(), checkDropField();') Register
                    










